.banner{
    max-width: 1432px;
    margin: 0 auto;
    .cover{
        position: relative;
        background: url(../img/layer4.jpg) center/cover no-repeat;
        height: 70vh;
        .flexWrap{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background:rgba(73,203,205,.5);
            padding: $spacing*1.5
        }
        h1{
            font: 600 2.3rem/1.5 $fontPrimary;
            margin: 0 0 $spacing*2;
            color: #fff;
            text-shadow: 0 1px 0 #000; 
            @media all and (min-width: $break-medium){
                font: 600 6.3rem/1.5 $fontPrimary;
                margin: 0 0 $spacing*4;
                
            }
        }
        .subTitle{
            font:  400 1.6rem/1.5 $fontPrimary;
            text-shadow: 0 1px 0 #000;
            color: #fff;
            margin: 0 0 $spacing*3;
            text-align: center;
            @media all and (min-width: $break-medium){
                font:  400 2.3rem/1.5 $fontPrimary;
                margin: 0 0 $spacing*6;   
            }
            }
        .buttonBanner{
            text-decoration: none;
            color: #fff;
            padding: $spacing*1 $spacing*2;
            border: 3px solid #fff;
            border-radius: 5px;
            font: 600 1.6rem/1.5 $fontPrimary;
            background: transparent;
            transition:all .5s ease-in;
            @media all and (min-width: $break-huge){
                font: 600 2.6rem/1.5 $fontPrimary;
                padding: $spacing*2 $spacing*4;
                
            }
            &:hover{
                color:$activeColor;
                background: #fff;
            
            }
        }
        
        
    }
    .slider{
            position: relative;
        }
        .slick-prev.slick-arrow, .slick-next.slick-arrow{
        width: 35px;
        height: 35px;
        border-radius:50%; 
        position: absolute;
        top:50%;
        border-width: 0px;
        border-style: none;
        cursor: pointer;
        text-indent: -10000rem;
        z-index: 50;
        background-color: #fff;
        @media all and (min-width: $break-medium){
            width: 50px;
            height: 50px;
                
            }
        &:focus{
            outline: none;
        }
            
  }
    .slick-prev.slick-arrow{
        left:0;
        @media all and (min-width: $break-medium){
            left:$spacing*3;
        }
        &::after{
            display: block;
            content: '';
            width: 14px;
            height: 26px;
            background-image: url(../img/spritesheet.png);
            background-repeat: no-repeat;
            background-position: -5px -5px;
            position: absolute;
            top: 50%;
            left:50%;
            transform:translate(-50%,-50%);
        }
    }
    .slick-next.slick-arrow{
        right:0;
        @media all and (min-width: $break-medium){
            right:$spacing*3;
        }
        &::after{
            display: block;
            content: '';
            width: 14px;
            height: 26px;
            background-image: url(../img/spritesheet.png);
            background-repeat: no-repeat;
            background-position:-29px -5px;
            position: absolute;
            top: 50%;
            left:50%;
            transform:translate(-50%,-50%);
        }
        }
}
    
    
