
// Colors

$colorPrimary: #4e525d;
$colorBtn: #49cbcd;
$colorPlans:#485460;
$colorPlansSecond:#788492;
$activeColor:#49cbcd;



//Fonts

$fontPrimary: 'Open Sans', sans-serif;
$fontLogo: 'Lobster', cursive;
$fontIcon:'FontAwesome';

$spacing: 1rem;

$break-small:   320px;
$break-middle:   425px;
$break-medium:  768px;
$break-large:   980px;
$break-huge:   1170px;